/*====================
=======Structure======
======================*/

body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: hsl(210, 11%, 15%);
    text-align: left;
    font-family: Roboto,"Helvetica Neue",Arial;
}

a{
    color: hsl(210, 11%, 15%);
    text-decoration: none;
    background-color: transparent;
}


/*======================
========Nav TOP=========
======================*/

.top-menu
{
    display: flex;
    flex-wrap: wrap;
    background-color: hsl(0, 0%, 90%);
    height: 3vh;
    justify-content: space-between;
}
.trending-new
{
    padding-right: 2em;
}

.local-new__list, .trending-new__list
{
    font-size: small;
    margin-top: -0.3em;
    display: flex;
    flex-wrap: wrap;
}
.trending-new__list li
{
    color: hsl(0, 100%, 48%);
}
.local-new__list
{
    margin-right: 10em;
} 

.trending-new__list
{
    margin-left: 10em;
}
#line-nav
{
    border-right-style: solid;
    border-left-style: solid;
    border-width: 1px;
}
.inline
{
    margin: 0.5em;
}
/*=========================
========MENU FIXED=========
=========================*/
.top-menu-fixed
{
    background:hsl(0, 84%, 55%);
}
.top-menu-fixed__element
{
    display: flex;
    justify-content: space-around;
}
.element__menu-hamburger
{
    display: block;
    margin-left: 10em;
    padding: 2vh;
    color: white;
    cursor: pointer;
    /* float: right; */
    position: relative;
}
.element__menu-hamburger span
{
    display: block;
    background: hsl(0, 0%, 100%);
    width: 2.5em;
    height: 0.5vh;
    margin-top: 0.5em;
}

.fixed-logo svg
{
    margin-top:1em;
    width: 18em;
    fill:hsl(0, 0%, 100%);
}
