/*=========================
========MENU FIXED=========
=========================*/
.top-menu-fixed
{
    position: fixed;
    z-index: 1004;
    background:hsl(0, 100%, 40%);
    width: 100%;
    top: 3vh;
    padding-bottom: 1em;
}
.top-menu-fixed__element
{
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 0 20%;
}
.contact-ad
{
    padding: 1rem 0;
}
.contact-ad__botton a
{
    color: hsl(0, 0%, 100%);
}
.fixed-logo svg
{
    margin-top:1em;
    width: 18em;
    fill:hsl(0, 0%, 100%);
}

.user-login
{
    display: flex;
    gap: 0.5rem;
}

.button-user
{
    margin: auto 0;
    border-radius: 0.5em;
}

.button-user .login{
    background-color: hsl(207, 17%, 88%);
    border: 0.3rem solid hsl(0, 100%, 40%);
    border-radius: 0.5rem;
    cursor: pointer;
}

.button-user .login span{
    display: inline;
    font-size: 0.9rem;
    vertical-align: super;
}

.button-user .login svg {
    overflow: hidden;
    height: 1.5rem;
}

.button-user .register{
    background-color:hsl(47, 100%, 50%);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
}

.button-user .register span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}
