.progress-container {
    position: fixed;
    top: 12vh;
    background-color: $white;
    height: .5vh;
    width: 100%;
    z-index: 1000;
}
  
.progress-bar {
    background-color: $color-primary-darker;
    height: .5vh;
    width: 0;
}
