a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    color: hsl(210, 11%, 15%);
    background-color: transparent;

    &:hover, &:focus {
        outline: none;
        text-decoration: none;
        outline-offset: 0;
    }
}/*==============================
========TIPOGRAPHY MENU=========
==============================*/
.item-menu-inline, .menu-hamburger-list, .content-subtitle
{
    text-transform: uppercase;
}